[user]
	name = {{GIT_NAME}}
	email = {{GIT_EMAIL}}
[core]
	editor = vim
	excludesfile = /Users/xandercoded/.gitignore
    pager = delta
[alias]
	map = log --graph --full-history --all --color --decorate
	lga = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --branches
	stat = status
	ch = checkout
[push]
	default = simple
[mergetool]
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = cache
[url "git@github.com:"]
	insteadOf = https://github.com/
[interactive]
    diffFilter = delta --color-only
[delta]
    features = unobtrusive-line-numbers decorations
    whitespace-error-style = 22 reverse
    plus-color = "#012800"
    minus-color = "#340001"
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
